
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Views/Home/StyleSheet1.css"  />


    <title>My Web Page </title>
    <style>
        body {
            background-color: aquamarine;
        }

        #bg-img {
            width: auto;
            height: 200px;
            border: dotted 5px solid red;
        }

        h2 {
            color: darkmagenta;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h5 {
            padding: 10px auto;
            margin: 6px auto 6px 20px;
        }

        .detail {
            margin: 20px;
        }

        p {
            border: dashed 20px purple;
        }

    </style>
</head>
<body>
    <div> 
        <h2> Background Wallpaper</h2>
        <img src="~/images/breno-machado-in9-n0JwgZ0-unsplash.jpg" id="bg-img"/>

        <h5>Details : </h5>
        <pre class="detail">
Views               Downloads
73,793,819          838,963

Featured in
Editorial, Wallpapers, Nature

Published on May 12, 2015
Canon, EOS REBEL T2i
Free to use under the Unsplash License
        </pre>
    </div>

    <hr />
    <p>
        Photo by Breno Machado on Unsplash
    </p>
</body>
</html>
